{% extends 'base.html' %}

{% block content %}



<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3   ">
   <h1>About project</h1>
   <p>Most transaction of the trading cards happened on the internet though the business website like eBay. So that makes eBay has a large amount of trade data, but people will find that it is not very convenient to get the information e.g. transaction price. </p>
   <p>People need to input the appropriate key words and set up the filters to find the information they want. So, this project aims at getting the data from eBay and showing the useful information though the website.
    Though the primary research, there are some platforms already have same function as I wanted. 
    </p>
   <p>One of them is called Alt which is an alternative asset platform that allows people to buy, sell, and store sports cards. Their mission is increasing the transparency and liquidating of alternative assets. They have same function as eBay but more focus on sports trading cards. That make them do the better job on showing the transaction price and they even can show the sports cards market trends just like stock trade platform. It is truly a useful function. 
    After analyzing the Alt website, that is a problem has been found. Although the platform has strong function, their cards category is limited. The trading cards on website are all graded with high soccer that make less card category than eBay. People probably can not find the cards information that they want.
    </p>
   <p>Based on the situation, now the project’s requirements are clear. The main function of system is getting the data from eBay and another function is showing the data.
    The main function will use web crawler to get the data and system will use website as a platform to show the key information.</p>
</div>
  



{% endblock %}