{% extends 'base.html' %}

{% block content %}



<div class="album py-5 ">
    <div class="container mx-auto">
        <div class="row  row-cols-md-3 g-3  ">
     
        {% for x in page_obj %}
        <div class="col" >
            
            <div class="card shadow p-3 mb-5 bg-body rounded  mx-auto" id="div1" style="width: 18rem;">
            
            
            <img class="cardpic-img" src={{x.picture}} class="card-img-top" alt="...">
            
            <a class="btn" href={{x.oldlink}}>   
            
            
        
            
            <div class="card-body">
                {% load custom_tag %} 
                
                <p class="fw-bolder">{{x.name}}</p>
                <h5 class="fw-normal text-success">Price:{{x.price}}</h5>
                <p class="fst-italic">End time: {{x.enddata}}</p>
                
                
            </div>
            </a> 
            </div>
           
        </div>
        
        {% endfor %} 
   
     
            </div> 
           
        
            </div>
        </div>
</div>




{% endblock %}